/* Navbar */
.navbar {
  background-color: #111111d3;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex; /* by default flex-direction is row */
  justify-content: space-between;
  align-items: center; /* align items on the cross axis */
  padding: 10px 20px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 1200px;
  user-select: none; /* disable text selection */
}

.logo {
  text-decoration: none;
  color: var(--color);
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: auto; /* push nav-links to the right */
}

.nav-links {
  list-style: none; /* remove bullet points */
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-left: 20px; /* space between links */
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.nav-links li:hover {
  transform: scale(1.2);
}

.nav-links a {
  text-decoration: none;
  color: var(--color);
}

/* hamburger button (only shown on small screens) */
.hamburger {
  display: none;
  font-size: 30px;
  color: var(--color);
  cursor: pointer;
}

/* ensure better responsiveness */
@media screen and (max-width: 600px) {
  .mobile-menu {
    display: none; /* hide nav links by default*/
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 60px; /* position below navbar */
    left: 50%;
    transform: translateX(-50%);
    background-color: #111111d3;
    z-index: 99;
    padding: 0 20px;
  }

  .nav-links {
    flex-direction: column;
    width: auto;
    margin: 0;
    align-items: flex-start;
  }

  .nav-links li {
    margin: 10px 0; /* space between items vertically */
    padding: 0;
    width: auto;
  }

  /* show hamburger on small screens */
  .hamburger {
    display: block;
  }

  /* show the nav links when the menu is active */
  .mobile-menu.active {
    display: flex; /* show the nav links when active */
  }
 
}

/* Footer */
.footer {
  background-color: #111111d3;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  padding: 10px 20px;
  width: 100%;
  max-width: 1200px;
}

.social-links {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.social-links a {
  text-decoration: none;
  font-size: 28px;
  color: var(--color);
  transition: transform 0.3s;
}

.social-links a:hover {
  transform: scale(1.2);
}

/* Content */
.content {
  padding: 50px 20px;
  max-width: 1200px;
}