/* css reset */
* {
  margin: 0;
  padding: 0;
  /* including padding and border in an element's total width and height */
  box-sizing: border-box;
}

html, body, #root {
  font-family: 'Geist', sans-serif;
  --color: #fcf6f4;
  height: 100%; /* take full height */
  width: 100%; /* take full width */
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}
